fastapi
uvicorn
pydantic
pyngrok
tenacity
python-dotenv
llama-index-core>=0.10.0
llama-index-llms-groq
llama-index-embeddings-huggingface
python-multipart
nest_asyncio
falkordb
llama-index-graph-stores-falkordb
llama-index-llms-together
google-generativeai
llama-index-llms-gemini
llama-index-llms-grok

# fastapi==0.110.0
# uvicorn[standard]==0.29.0
# httpx==0.27.0
# llama-index==0.10.43
# llama-index-embeddings-huggingface==0.5.4
# llama-index-llms-gemini==0.5.3
# llama-index-graph-stores-falkordb==0.3.0
# sentence-transformers==2.6.1
# nest_asyncio==1.6.0
# pydantic==1.10.13
# google-generativeai==0.4.1
# redis==5.0.3
# aiofiles==23.2.1
